<%= form_for(@guest, html: { id: :rsvpForm, class: "form wow fadeIn"}) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", id: "guest-name", placeholder: "Your name *" %>
      </div>
    </div><!-- col 6 -->
    <div class="col-md-6">
      <div class="form-group">
        <%= f.email_field :email, class: "form-control", id: "guest-email", placeholder: "Your email *" %>
      </div>
    </div><!-- col 6 -->
    <div class="col-md-12">
      <div class="form-group">
        <%= f.text_area :address, class: "form-control", id: "guest-address", placeholder: "Your address *" %>
      </div>
    </div><!-- col 12 -->
    <div class="col-md-12">
      <div class="form-group">
        <%= f.text_area :message, class: "form-control", id: "guest-message", placeholder: "Your message *" %>
      </div>
    </div><!-- col 12 -->
    <div class="col-md-12 text-center">
      <%= submit_tag "I am attending", id: "rsvp-form-submit", class:"btn btn-lg btn-primary" %>
    </div>
  </div><!-- row -->
<% end %>
