<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

  <%= render "peristyle_header" %>
  <%= render "parents_section" %>
  <div class="lead text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          We Cordially invite you to the wedding ceremony
        </div>
      </div>
    </div>
  </div><!-- lead -->

  <div class="section section-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="media media-about wow fadeInRight">
            <div class="media-body text-right">
              <div class="title">The Groom</div>
              <h2 class="media-heading">Steven Harms</h2>
              <p>"Before we met I thought 'this guy is out of my league,' but wanted to go for it and meet him anyway. When I first saw Steven, 12 years ago, I thought to myself, 'where is his wife.' There exists nobody more caring, tender, intelligent, or more prone to weird, wacky and interesting conversation than Steven. He is patient and curious, and my favorite companion in life." -- Lauren</p>
            </div>
            <div class="media-right">
              <img class="media-object" src="<%= asset_path('groom.jpg') %>" alt="...">
            </div>
          </div><!-- media -->
        </div><!-- col 6 -->
        <div class="col-md-6">
          <div class="media media-about wow fadeInLeft">
            <div class="media-left">
              <img class="media-object" src="<%= asset_path('bride.jpg') %>" alt="...">
            </div>
            <div class="media-body">
              <div class="title">The Bride</div>
              <h2 class="media-heading">Lauren Roth</h2>
              <p>The first time I ever saw her I was struck by the white-hot
              California sun making her hair shine like a halo. She's been my
              golden vision ever since. Brilliant, funny, sweet, vulnerable,
              patient and tender &mdash; she's truly a gift to my life.</p>
            </div>
          </div><!-- media -->
        </div><!-- col 6 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- section -->

  <div class="section section-dates parallax-window" id="ceremony" data-parallax="scroll">

    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="dates-info wow fadeIn">
            <div class="ceremony">Wedding</div>
            <div class="location">Peristyle, New Orleans, LA</div>
            <div class="day-month">21 April 2018</div>
            <div class="year">2018</div>
            <div class="time">5:00PM</div>
          </div><!-- dates info -->
        </div><!-- col 6 -->
        <div class="col-md-6 col-sm-6">
          <div class="dates-info wow fadeIn">
            <div class="ceremony">Reception</div>
            <div class="location">Cabildo, New Orleans, LA</div>
            <div class="day-month">21 April 2018</div>
            <div class="year">2018</div>
            <div class="time">6:30PM</div>
          </div><!-- dates info -->
        </div><!-- col 6 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- section-dates -->

  <div class="section section-story" id="story">
    <div class="container">
      <h1 class="text-center wow fadeInDown">Our Story</h1>
      <div class="sub-title text-center wow fadeInDown">The Fog Hides All, The Fog Revealed All</div>
      <p class="text-center wow fadeIn">
      Locals know that the foggiest time of the year in the Bay is the summer. It was an August day when I went with Lauren on her first visit to the sights of San Francisco. She said she'd never walked the Golden Gate Bridge and I hadn't either. We maxxed out the parking meter and started on the walk to Marin on a foggy day. The fog-horns blared and somewhere around the first pylon I could no longer see San Francisco, nor could I see Marin. But I knew that my life would be very different when I reached either one of those ends. It was an unshakable moment where I knew my life was fated to be different.
      </p>
    </div><!-- container -->
  </div><!-- section-story -->

  <!-- <div class="section section-gallery parallax-window" id="gallery" data-parallax="scroll" data-image-src="assets/img/gallery-bg.jpg"> -->
  <div class="section section-gallery" id="gallery" data-parallax="scroll" data-image-src="<%= asset_path('peristyle.jpg') %>">

    <div class="overlay overlay-light"></div>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class="wow fadeInDown">Gallery</h1>
          <div class="sub-title wow fadeInDown">Important Moments In Our 12 Years Together</div>
        </div>
        <div class="col-md-12">
          <div class="wow fadeInDown">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1"></li>
                <li data-target="#carousel-example" data-slide-to="2"></li>
              </ol>

              <div class="carousel-inner">
                <div class="item active">
                  <a href="#"><img src="<%= asset_path('bridgeday.jpg') %>"/></a>
                  <div class="carousel-caption">
                    <h3>2005</h3>
                    <p>Our Special Date: Crepes in San Francisco then a walk across the Golden Gate Bridge. We stopped, mid-repartee, and could not see either end of the bridge because it was so foggy. Somehow by the time we made it to Marin at the other side of the bridge we knew we were meant to be together.</p>
                  </div>
                </div>
                <div class="item">
                  <a href="#"><img src="<%= asset_path('austin.jpg') %>"/></a>
                  <div class="carousel-caption">
                    <h3>2006</h3>
                    <p>We moved to Austin, TX.</p>
                  </div>
                </div>
              </div>

              <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- section-gallery -->

  <div class="section section-gift" id="registries">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center wow fadeInDown">Gift registries</h1>
          <div class="sub-title text-center wow fadeInDown">The most important gift to us is to have you share our day.</div>
          <p class="text-center wow fadeIn">If you do wish to buy us a gift you can check out the registry lists below.</p>
        </div><!-- col-12 -->
        <div class="gift-partner">
          <div class="col-md-4 col-sm-4 col-xs-6 wow fadeInUp">
            <a href="#"><img src="<%= asset_path('amazon.png')%>" class="img-responsive"></a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 wow fadeInDown">
            <a href="#"><img src="<%= asset_path('zola.png')%>" class="img-responsive"></a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
            <a href="#"><img src="<%= asset_path('surlatable.png')%>" class="img-responsive"></a>
          </div>
        </div><!-- gift partner -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- section-gift -->

  <!-- Maps Section -->
  <div class="section section-map" id="map">
  </div><!-- section-map -->
  <script>
function initMap() {
  var locations = [
    ['Ceremony: Peristyle, 42 Dreyfous Dr, New Orleans, LA 70124', 29.9851959, -90.0995926, 1],
    ['Reception: Cabildo, 701 Chartres St, New Orleans, LA 70130', 29.9577125,-90.0660735, 2]
  ];

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: new google.maps.LatLng(29.9577125,-90.0660735),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
}
  </script>
  <script async defer
                                   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx4sObp-NKD36fvgL5Vy6hxguy60xC9JU&callback=initMap">
  </script>
  <!-- Maps Section Ends Here-->

  <div class="section section-rspv" id="rsvp" style='background-image: url("<%= asset_path('pw_maze_white.png') %>");'>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center wow fadeInDown">Are you attending?</h1>
          <div class="sub-title text-center wow fadeInDown">We look forword to seeing you April 21, 2018</div>
          <%= render "address_registration_form" %>
        </div>
      </div>
    </div>
  </div><!-- section-rspv -->

  <div class="footer">
    <div class="container text-center">
      <p>&copy; 2017 - Developed by the Bride &amp; Groom</p>
    </div><!-- container -->
  </div><!-- footer -->

  <!-- Gallery -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>

  <!-- back to top -->
  <a href="#" id="back-to-top">
    <img src="assets/img/top-icon.png">
    <img src="<%= asset_path('top-icon.png') %>">
  </a>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="assets/plugins/jquery-2.2.4.min.js"></script>
  <script src="assets/plugins/jquery.easing.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/plugins/gallery-2.21.3/js/blueimp-gallery.min.js"></script>
  <script src="assets/plugins/parallax.js-1.4.2/parallax.min.js"></script>
  <script src="assets/plugins/wow/dist/wow.min.js"></script>
  <script src="assets/plugins/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
  <script src="assets/plugins/sscr.js"></script>
  <script src="assets/js/default.js"></script>
  <script src="assets/js/contact.js"></script>
